---
layout: default
---
{% if page.pdf %}
  <meta http-equiv="refresh" content="0; url={{ page.pdf | relative_url }}">
{% endif %}

<h1>{{ page.title }}</h1>

<div class="project-content">

{% if page.images %}
    {% for img in page.images %}
      <img src="{{ img | relative_url }}" class="inline-image">
    {% endfor %}
{% endif %}




{{ content }}

</div>

<p><strong>Technologies Used</strong>: {{ page.technologies | join: ", " }}</p>

<a href={{ "/projects/" | relative_url }} class="back-arrow">
    <i class="bi bi-arrow-left-circle-fill"></i> Back to Projects
</a>
