---
layout: default
---
{% if page.pdf %}
  <meta http-equiv="refresh" content="0; url={{ page.pdf | relative_url }}">
{% endif %}

<h1>{{ page.title }}</h1>

{% if page.image %}
  <div class="project-image">
    {% for img in page.image %}
      <img src="{{ img | relative_url }}" alt="Project image">
    {% endfor %}
  </div>
{% endif %}




{{ content }}

<p><strong>Technologies Used</strong>: {{ page.technologies | join: ", " }}</p>

<a href={{ "/projects/" | relative_url }} class="back-arrow">
    <i class="bi bi-arrow-left-circle-fill"></i> Back to Projects
</a>
